*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom right, #5bc0de, #4a77d4);
    min-height: 100vh;
    padding: 20px;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.container input,
.container select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #222;
    color: white;
    font-size: 16px;
    transition: 0.2s;
}

button:hover {
    background: #111;
}

hr {
    margin: 30px 0;
    border-color: white;
}
